#map{
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0px;
}

h1{
    font-size: 30px;
}

#controls{
    left: 2%;
    top: 0px;
    position: absolute;
    flex-direction: column;
}

button#ParkingAreas, button#ScanArea, button#CollapseList{
    position: relative;
    border: none;
    color: white;
    background-color: #AAAAAA;
    height: 40px;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.marker{
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-image: url("parkingicon.PNG");
}

div.mapboxgl-popup-content {
    width: 100%;
}

select#carparkList{
    width: 320px;
    height: 100%
}

option{
    font-size: 10px;
}

